/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  font-size: 20px;
}

header {
  background-color: brown;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  nav {
    display: flex;
    gap: 16px;
  }
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.hero {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  gap: 16px;
}

.hero-logo {
  width: 200px;
}

.hero-text {
  font-size: 1.5rem;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px;
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 48px;
}

.section {
  h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 12px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}